<ol>
{% for post in postslist | reverse %}
<li>
<a href="{{ post.url }}">{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.url }}{% endif %}</a>
 - {{ post.date | readableDate("LLLL yyyy") }}
{% if post.data.description %}
<br>{{ post.data.description }}
{% endif %}
</li>
{% endfor %}
</ol>
